<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'Petty Cash Payments', financial_year_petty_cash_vouchers_path(@current_financial_year) , class: 'btn btn-lg btn-primary' %>
         <%= link_to 'Re-Imburse', new_financial_year_petty_cash_path(@current_financial_year) , class: 'btn btn-lg btn-success' %>
       </div>
     </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Petty Cash Re-Imbursements</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Amount</th>
                 <th>Created By</th>
                 <th>Approved By</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>
               <!--  Make sure that all vouchers are only for the current year -->
               <% @petty_cash.order(created_at: :desc).each do |petty_cash| %>
                 <tr>
                   <td>#</td>
                   <td><%= currency_formatter(petty_cash.amount) %></td>
                   <td><%= find_account(petty_cash.payment_voucher.voucher.created_by) %></td>
                   <td><%= find_account(petty_cash.payment_voucher.voucher.approved_by) %></td>
                   <td><%= link_to "View", financial_year_petty_cash_path(@current_financial_year, petty_cash) %></td>
                 </tr>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
