<div class="col-xs-12 col-sm-offset-3 col-sm-5">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">Petty Cash</h2>
        <div class="panel-body">
          <%= form_for @petty_cash, url: {action: "create"}, html: {id: 'payment-form', class: "form-horizontal"} do |f| %>
            <div class="form-group amount-div">
                <%= label_tag(:amount, 'Amount', class: 'col-xs-12') %>
                <div class="col-xs-12">
                    <%= f.text_field :amount, class: 'form-control amount' %>
                    <%= f.hidden_field :financial_year_id, value: @current_financial_year.id %>
                </div>
            </div>
            <div class="form-group">
            <%= label_tag(:amount_in_words, 'Amount in Words', class: 'col-xs-12') %>
            <div class="col-xs-12">
                <%= f.text_area :amount_in_words,  class: 'form-control' %>
            </div>
            </div>
            <div class="form-group">
                <%= label_tag(:payment_voucher_id, 'Payment Voucher', class: 'col-xs-12') %>
                <div class="col-xs-12">
                <select name='petty_cash[payment_voucher_id]' class="form-control">
                    <% PaymentVoucher.order(created_at: :desc).each do |payment_voucher| %>
                    <option value="<%= payment_voucher.id %>"><%= payment_voucher.number %></option>
                    <% end %>
                </select>
                </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag('SAVE', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
