<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-5">
    <div class="panel">
      <header class="panel-heading">
        <h2 class="panel-title text-center">Petty Cash Details</h2>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th>Amount</th>
              <td><%= @petty_cash.amount %></td>
            </tr>
            <tr>
              <th>Amount in Words</th>
              <td><%= @petty_cash.amount_in_words %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
