<div class="page-center">
  <div class="page-center-in">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'sign-box'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="sign-avatar">
        <img src="https://ubuni.nyc3.digitaloceanspaces.com/cct/assets/admin/images/avtar.png" alt="" class="img-circle">
      </div>
      <header class="sign-title">Login</header>

      <div class="form-group">
        <!-- <%#= f.label :email %><br /> -->
        <%= f.email_field :email, autofocus: true,
          class: 'form-control',placeholder: 'email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off",
         placeholder: 'password', class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Login", class: 'btn btn-success rounded btn-lg' %>
      </div>
      <div class="form-group">
        <hr>
        <%= render "accounts/shared/links" %>
      </div>
    <% end %>
  </div><!--page center in-->
</div><!--page center-->
