<% admin_asset_url = "https://ubuni.nyc3.digitaloceanspaces.com/cct/assets/admin/" %>
<% if @current_financial_year && BankAccount.count > 0 && CodeCategory.revenue && CodeCategory.expenses %>
    <div class="row">
        <% color_array = ['bg-primary','bg-danger','bg-success','bg-info'] %>
        <% BankAccount.order(:name).each do |bank_account| %>
        <div class="col-sm-6 col-md-3 margin-b-30">
            <div class="statistic-widget-box <%= color_array[rand(0..3)] %>">
                <i class="fa fa-shopping-bag"></i>
                <div class="content overflow-hidden">
                    <h1><%= currency_formatter(bank_account.balance) %></h1>
                    <p><%= bank_account.name %></p>
                </div>
            </div><!--statistic box end-->
        </div><!--col end-->
        <% end %>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="javascript:void(0)" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                        <a href="javascript:void(0)" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                        <div class="dropdown pull-left">
                            <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="ion-more"></i></a>
                            <ul class="dropdown-menu dropdown-menu-scale">
                                <li><a href="javascript:void(0)">Action</a></li>
                                <li><a href="javascript:void(0)">Just Action</a></li>
                                <li><a href="javascript:void(0)">Action Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="panel-title">Recent Payment Vouchers</h2>
                </header>
                <div class="panel-body">
                    <div class="scrollDiv">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th><div>Status</div></th>
                                <th><div>Voucher Number</div></th>
                                <th align="center"><div>Amount</div></th>
                                <th align="center"><div>Date Created</div></th>
                            </tr>
                            <% PaymentVoucher.order(updated_at: :desc).limit(10).each do |payment_voucher| %>

                            <tr>
                                <% voucher = payment_voucher.voucher %>

                                <td>
                                    <% if !voucher.approved_by || !voucher.authorized_by %>
                                        <span class="label label-danger">Not Authorized</span>
                                    <% end %>
                                    <% if voucher.approved_by %>
                                        <span class="label label-primary">Approved</span>
                                    <% end %>
                                    <% if voucher.authorized_by %>
                                        <span class="label label-success">Authorized</span>
                                    <% end %>
                                </td>
                                <td>
                                    <%= payment_voucher.number %>
                                </td>
                                <td align="center"><%= currency_formatter(voucher.amount) %></td>
                                <td class="color-blue-grey" nowrap="" align="center"><%= date_formatter(voucher.created_at) %></td>
                            </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div><!--end panel body-->
            </div><!--end panel-->
        </div><!--end col 6-->
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="javascript:void(0)" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                        <a href="javascript:void(0)" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                        <div class="dropdown pull-left">
                            <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="ion-more"></i></a>
                            <ul class="dropdown-menu dropdown-menu-scale">
                                <li><a href="javascript:void(0)">Action</a></li>
                                <li><a href="javascript:void(0)">Just Action</a></li>
                                <li><a href="javascript:void(0)">Action Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="panel-title">Recent Petty Cash Vouchers</h2>
                </header>
                <div class="panel-body">
                    <div class="scrollDiv">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th><div>Status</div></th>
                                <th><div>Voucher Number</div></th>
                                <th align="center"><div>Amount</div></th>
                                <th align="center"><div>Date Created</div></th>
                            </tr>
                            <% PettyCashVoucher.order(updated_at: :desc).limit(10).each do |petty_cash_voucher| %>

                            <tr>
                                <% voucher = petty_cash_voucher.voucher %>

                                <td>
                                    <% if !voucher.approved_by || !voucher.authorized_by %>
                                    <span class="label label-danger">Not Authorized</span>
                                    <% end %>
                                    <% if voucher.approved_by %>
                                        <span class="label label-primary">Approved</span>
                                    <% end %>
                                    <% if voucher.authorized_by %>
                                        <span class="label label-success">Authorized</span>
                                    <% end %>
                                </td>
                                <td>
                                    <%= petty_cash_voucher.number %>
                                </td>
                                <td align="center"><%= currency_formatter(voucher.amount) %></td>
                                <td class="color-blue-grey" nowrap="" align="center"><%= date_formatter(voucher.created_at) %></td>
                            </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div><!--end panel body-->
            </div><!--end panel-->
        </div><!--end col 6-->
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="javascript:void(0)" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                        <a href="javascript:void(0)" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                        <div class="dropdown pull-left">
                            <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="ion-more"></i></a>
                            <ul class="dropdown-menu dropdown-menu-scale">
                                <li><a href="javascript:void(0)">Action</a></li>
                                <li><a href="javascript:void(0)">Just Action</a></li>
                                <li><a href="javascript:void(0)">Action Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="panel-title">Recent Activities</h2>
                </header>
                <div class="panel-body">
                    <div class="scrollDiv">
                        <div class="streamline">
                        <% stream_array = ['stream-primary','stream-danger','stream-success','stream-info'] %>
                            <% SystemLog.order(updated_at: :desc).limit(10).each do |system_log| %>
                            <div class="stream-item <%= stream_array[rand(0..3)] %>">
                                <div class="stream-content">
                                    <small class="text-muted"><%= distance_of_time_in_words(Time.now, system_log.created_at) %> ago</small>
                                    <p><%= find_account(system_log.account_id) + " " + system_log.notes%></p>
                                </div>
                            </div><!-- .stream-item -->
                            <% end %>
                        </div>
                    </div>
                </div><!--end panel body-->
            </div><!--end panel-->
        </div><!--end col 6-->
    </div><!--end row-->
<% else %>
   <div class="container">
        <div class="row">
            <div class="col-md-12 alert-info">
                <h3> Karibu to the financial management package</h3>
                <p>To Get Started Ensure the following are in place</p>
                <ul>
                    <li> the Current financial year has been added</li>
                    <li> At least One Bank Account Has been added</li>
                    <li> the Revenue and Expenses Accounting Categories have been added</li>
                </ul>
                <p>To Accomplish this please go to settings under the </p>
            </div>
        </div>
    </div>
<% end %>
