<div class="col-xs-12 col-sm-offset-3 col-sm-5">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">Payment Voucher</h2>
        </header>
        <div class="panel-body">
          <%= form_for @payment_voucher, url: {action: "create"}, html: {id: 'payment-form', class: "form-horizontal"} do |f| %>
            <%= render 'shared/voucher_form', f: f, voucher_class: @payment_voucher.class.to_s %>
          <% end %>
        </div>
    </div>
</div>
