<form id="add-<%= transaction_type %>-form" class="form-inline" action="/save_<%= transaction_type %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <div class="form-group">
     <label for="<%= transaction_type %>-codes"><%= "#{transaction_type.titleize} Code:" %></label>
     <select id="<%= transaction_type %>-codes" class="form-control">
       <% @codes.all.each do |code| %>
         <option data-code="<%= code.number %>" data-name="<%= code.name %>" value="<%= code.id %>"><%= "#{code.name} [#{code.number}]" %></option>
       <% end %>
     </select>
   </div>
   <div id="<%= transaction_type %>-amount-div" class="form-group">
     <label for="<%= transaction_type %>-amount">Amount:</label>
     <input type="text" class="form-control" id="<%= transaction_type %>-amount" placeholder="1,000,000">
   </div>
   <div class="form-group">
     <i id="<%= transaction_type %>-error-icon" class="ion-checkmark-circled" style="font-size: 28px;"></i>
     <!--  ion-close-circled-->
   </div>
   <div class="form-group">
     <%= link_to "javascript:;", id: "add-#{transaction_type}-link" do %>
       <i class="ion-plus-circled" style="font-size: 28px; margin-left: 15px;"></i>
     <% end %>
   </div>
 </form>
