<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'Add Budget', new_financial_year_budget_path(@current_financial_year) , class: 'btn btn-lg btn-primary' %>
       </div>
     </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Bank Accounts</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Accounting Code</th>
                 <th>Estimated Amount</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
