<div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">New Budget</h2>
        </header>
        <div class="panel-body">
          <%= form_for @budget, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
            <div class="form-group">
              <%= label_tag(:name, 'Budget Name', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag(:financial_year_id, 'Financial Year', class: 'col-xs-12') %>
              <div class="col-xs-6">
                <%= f.collection_select(:financial_year_id, FinancialYear.all, :id, :name, {}, class: 'form-control') %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag('SAVE', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
