<div id="transction-type-div" class="row" data-transaction-type="<%= @transaction_type %>">
  <% transaction_type = @transaction_type %>
  <% if @state == 'estimated' && !@codes.empty? %>
     <div class="col-md-12">
       <div class="panel">
         <header class="panel-heading">
           <h2 class="panel-title"><%= "New #{transaction_type.titleize}" %></h2>
         </header>
         <div class="panel-body">
            <%= render "add_budget_element_form", transaction_type: transaction_type %>
            <div>
              <p class="text-primary">
              </p>
            </div>
         </div>
       </div>
     </div>
   <% end %>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title"><%= @state %></h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Accounting Code</th>
                 <th>
                   Code Name
                 </th>
                 <th>Amount</th>
                 <th></th>
               </tr>
             </thead>
             <tbody id="budget-<%= transaction_type %>-rows">
               <% if @budget_objects %>
               <% @budget_objects.each do |budget_object| %>
                 <tr>
                   <td>
                     #
                   </td>
                   <td>
                     <%= budget_object.accounting_code.number %>
                   </td>
                   <td>
                     <%= budget_object.accounting_code.name %>
                   </td>
                   <td>
                     <% if @state == 'estimated' %>
                       <%= currency_formatter(budget_object.estimated) %>
                     <% else %>
                       <%= currency_formatter(budget_object.actual) %>
                      <% end %>
                   </td>
                   <td>

                   </td>
                 </tr>
               <% end %>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
