<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Payee</th>
      <td><%= @voucher.payee %></td>
    </tr>
    <tr>
      <th>Details</th>
      <td><%= @voucher.details %></td>
    </tr>
    <tr>
      <th>Code</th>
      <th>sub amount</td>
    </tr>
    <% @voucher.code_amount_divisions.each do |code_id,amount| %>
      <tr>
        <% code = SubCode.find(code_id) %>
        <td><%= "#{code.name} #{code.number ? code.number : ''}"%></td>
        <td><%= currency_formatter(amount) %></td>
      </tr>
    <% end %>
    <tr>
      <th>Total Amount</th>
      <td><%= currency_formatter(@voucher.amount) %></td>
    </tr>
    <tr>
      <th>Amount in Words</th>
      <td><%= @voucher.amount_in_words %></td>
    </tr>
    <tr>
      <th>Cheque Number</th>
      <td><%= @voucher.cheque_no %></td>
    </tr>
    <tr>
      <th>Created By</th>
      <td><%= find_account(@voucher.created_by) %></td>
    </tr>
    <tr>
      <th>Approved By</th>
      <td><%= find_account(@voucher.approved_by) %></td>
    </tr>
    <tr>
      <th>Authorized By</th>
      <td><%= find_account(@voucher.authorized_by) %></td>
    </tr>
    <tr>
      <th>Date Created</th>
      <td><%= date_formatter(@voucher.created_at) %></td>
    </tr>
    <tr>
      <th>Updated at</th>
      <td><%= date_formatter(@voucher.updated_at) %></td>
    </tr>
  </table>
</div>
