<div class="form-group code-amount-div">
  <%= label_tag(:code, 'Select Codes', class: 'col-xs-12') %>
  <div class="col-xs-6" style="padding-right: 5px;">
    <select id="selected-code" name='code_id' class="form-control">
      <!--  Make Sure all these Code are expenses -->
      <% @codes.all.each do |code| %>
        <option data-code="<%= code.number %>" data-name="<%= code.name %>" value="<%= code.id %>"><%= "#{code.name} #{code.number ? code.number : ''}" %></option>
      <% end %>
    </select>
  </div>
  <div class="col-xs-5" style="padding-right: 5px; padding-left: 5px;">
    <%= text_field_tag :code_amount, nil, id: 'code-amount', class: 'form-control code-amount' %>
  </div>
  <div class="col-xs-1" style="padding-left: 5px; padding-top: 3px;">
    <%= link_to "javascript:;", id: "add-payment-code"  do %>
      <i class="ion-plus-circled" style="font-size: 20px; margin-left: 0px;"></i>
    <% end %>
    <%= hidden_field_tag :selected_codes, nil %>
    <%= hidden_field_tag :selected_codes_amounts, nil %>
  </div>
</div>
<div class="form-group">
  <%= label_tag(:codes, 'Selected Codes', class: 'col-xs-12') %>
  <div class="col-xs-12">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th class="pull-right">Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="payment-voucher-codes">
     </tbody>
   </table>
  </div>
</div>
<div class="form-group amount-div">
  <div class="col-xs-12">
    <%= hidden_field_tag :amount, nil, class: 'form-control amount' %>
    <%= f.hidden_field :financial_year_id, value: @current_financial_year.id %>
  </div>
</div>
<div class="form-group">
  <%= label_tag(:amount_in_words, 'Amount in Words', class: 'col-xs-12') %>
  <div class="col-xs-12">
    <%= text_area :amount_in_words, nil, name: 'amount_in_words', class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= label_tag(:details, 'Details', class: 'col-xs-12') %>
  <div class="col-xs-12">
    <%= text_area :details, nil, name: 'details', class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= label_tag(:payee, 'Payee', class: 'col-xs-12') %>
  <div class="col-xs-12">
    <%= text_field_tag :payee, nil, class: 'form-control' %>
  </div>
</div>
<% if voucher_class == 'PaymentVoucher' %>
  <div class="form-group">
    <%= label_tag(:cheque_no, 'Cheque No.', class: 'col-xs-12') %>
    <div class="col-xs-12">
      <%= text_field_tag :cheque_no, nil, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag(:bank_account_id, 'Bank Account', class: 'col-xs-12') %>
    <div class="col-xs-12">
      <select name='bank_account_id' class="form-control">
        <% BankAccount.all.each do |bank_account| %>
          <option value="<%= bank_account.id %>"><%= bank_account.name %></option>
        <% end %>
      </select>
    </div>
  </div>
<% end %>
<div class="form-group">
  <div class="col-xs-12">
    <%= submit_tag('SAVE', class: "btn btn-primary") %>
  </div>
</div>
