<% admin_asset_url = "https://ubuni.nyc3.digitaloceanspaces.com/cct/assets/admin/" %>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="panel">
        <div class="panel-body">
            <div class="profile-info">
                <img src="<%= admin_asset_url%>images/avtar-6.jpg" alt="" width="120" class="img-circle">
                <h4><%= find_account(current_account.id) %></h4>
                <p class="text-uppercase color-info">Role</p>
                <div class="space-30"></div>
            </div><!--profile info-->
        </div><!--panel body-->
    </div><!--panel-->
    <div class="space-20"></div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="panel">
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>
              <div class="form-group">
                  <%= label_tag :firstname, 'Firstname', class: 'col-sm-3 control-label' %>
                  <div class="col-sm-7">
                     <%= f.text_field :firstname, class: 'form-control', placeholder: 'firstname'%>
                  </div>
              </div>
              <div class="form-group">
                  <%= label_tag :lastname, 'Lastname', class: 'col-sm-3 control-label' %>
                  <div class="col-sm-7">
                     <%= f.text_field :lastname, class: 'form-control', placeholder: 'lastname'%>
                  </div>
              </div>
              <div class="form-group">
                <%= label_tag :email, 'Email', class: 'control-label col-sm-3' %>
                <div class="col-sm-7">
                   <%= f.text_field :email, class: 'form-control', placeholder: 'email'%>
                </div>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= label_tag :password, 'New Password', class: 'col-sm-3 control-label' %>
                <div class="col-sm-7">
                  <i>(leave blank if you don't want to change it)</i>
                  <%= f.password_field :password, class: 'form-control', placeholder: 'New Password', autocomplete: false %>

                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag :password_confirmation, 'Confirm password', class: 'col-sm-3 control-label' %>
                <div class="col-sm-7">
                  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'confirm new password', autocomplete: false %>
                </div>
              </div>
              <div class="form-group">
                <%= label_tag :current_password, 'Current Password', class: 'col-sm-3 control-label' %>
                <div class="col-sm-7">
                  <i>(we need your current password to confirm your changes)</i>
                  <%= f.password_field :current_password, class: 'form-control', placeholder: 'current password', autocomplete: false %>
                </div>
              </div>
              <hr>
              <div class="form-group">

                  <label for="skills" class="col-sm-3 control-label">Avatar</label>
                  <div class="col-sm-7">
                       <img src="<%= admin_asset_url%>assets/images/avtar-1.jpg" alt="" width="80">
                       <div class="space-20"></div>
                      <input type="file" class="form-control" id="avtar">
                      <p class="help-block">JPEG/PNG 80x80px</p>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-lg btn-primary rounded">Save changes</button>
                      <button type="button" class="btn btn-lg btn-warning rounded">Cancel</button>
                  </div>
              </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
