<div class="page-center">
  <div class="page-center-in">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'sign-box'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="sign-avatar">
        <img src="https://ubuni.nyc3.digitaloceanspaces.com/cct/assets/admin/images/user-add.png" alt="" class="img-circle">
      </div>
      <header class="sign-title">Sign Up</header>

      <div class="form-group">
        <!-- <%#= f.label :email %><br /> -->
        <%= f.email_field :email, autofocus: true,
          class: 'form-control',placeholder: 'email' %>
      </div>

      <div class="form-group">

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",
         placeholder: 'password', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: 'form-control', placeholder: 'password confirmation' %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-success rounded btn-lg' %>
      </div>
      <div class="form-group">
        <hr>
        <%= render "accounts/shared/links" %>
      </div>
    <% end %>
  </div><!--page center in-->
</div><!--page center-->
