<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'New Petty Cash Voucher', new_financial_year_petty_cash_voucher_path(@current_financial_year) , class: 'btn btn-lg btn-primary' %>
       </div>
     </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Petty Cash Vouchers</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Number</th>
                 <th>Amount</th>
                 <th>Created By</th>
                 <th>Approved By</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>
               <!--  Make sure that all vouchers are only for the current year -->
               <% @petty_cash_vouchers.all.each do |petty_cash_voucher| %>
                 <tr>
                   <td>#</td>
                   <td><%= link_to petty_cash_voucher.number, financial_year_petty_cash_voucher_path(@current_financial_year, petty_cash_voucher) %></td>
                   <td><%= currency_formatter(petty_cash_voucher.voucher.amount) %></td>
                   <td><%= find_account(petty_cash_voucher.voucher.created_by) %></td>
                   <td><%= find_account(petty_cash_voucher.voucher.approved_by) %></td>
                   <td></td>
                 </tr>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
