<div class="row">
  <% if !@voucher.approved_by %>
    <div class="col-xs-12 col-sm-offset-3 col-sm-5">
      <div class="panel">
        <div class="panel-body">
          <%= link_to 'Approve', approve_petty_cash_path(id: @petty_cash_voucher.id), class: 'btn btn-primary', method: :post %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @voucher.approved_by && !@voucher.authorized_by %>
    <div class="col-xs-12 col-sm-offset-3 col-sm-5">
      <div class="panel">
        <div class="panel-body">
          <%= link_to 'Authorize', authorize_petty_cash_path(id: @petty_cash_voucher.id), class: 'btn btn-primary', method: :post %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-offset-3 col-sm-5">
    <div class="panel">
      <header class="panel-heading">
        <h2 class="panel-title text-center">Petty Cash Voucher(<%= @petty_cash_voucher.number %>)</h2>
      </header>
      <div class="panel-body">
        <%= render 'shared/voucher_details' %>
        <div>
          <%= link_to 'Print Voucher', financial_year_voucher_path(@petty_cash_voucher.id, format: 'pdf', type: 'PettyCash'), class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>
