<div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">Add A Code Category</h2>
        </header>
        <div class="panel-body">
          <%= form_for @code_category, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
            <div class="form-group">
              <%= label_tag(:name, 'Category Name', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag(:number, 'Category Number', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :number, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag('SAVE', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
