<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'New Accounting Code', new_code_category_code_path(@code_category) , class: 'btn btn-lg btn-primary' %>
       </div>
     </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Accounting Codes</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Code Name</th>
                 <th>Code Number</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>
               <% @code_category.codes.each do |code| %>
                 <tr>
                   <td></td>
                   <td><%= link_to code.name, code_category_code_path(@code_category, code) %></td>
                   <td><%= code.number %></td>
                   <td>..actions..</td>
                 </tr>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
