<div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">New Code</h2>
            <h3 class="panel-title text-center">Category: <%= @code_category.name %></h3>
        </header>
        <div class="panel-body">
          <%= form_for @code, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
            <div class="form-group">
              <%= label_tag(:name, 'Code Name', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag(:number, 'Code Number', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :number, class: 'form-control' %>
              </div>
            </div>
            <% if @code_category.name.downcase == "revenue" %>
              <div class="form-group">
                <div class="col-xs-12">
                  <strong>Percentage Divisions</strong>
                </div>
              </div>
              <% BankAccount.all.each do |bank_account| %>
                <div class="form-group">
                  <%= label_tag(:bank_accounts, "#{bank_account.name}", class: 'col-xs-6 control-labe') %>
                  <div class="col-xs-3">
                    <%= text_field_tag "#{bank_account.name.gsub(' ','_')}".to_sym, nil, name: "revenue_divisions[#{bank_account.name.gsub(' ','_')}]", class: 'form-control' %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag('SAVE', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
