<div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">Edit Balance (Account Name: <%= @bank_account.name %>)</h2>
        </header>
        <div class="panel-body">
          <%= form_for @bank_account, url: {action: "update"}, html: {class: "form-horizontal bank-account-form"} do |f| %>
            <div class="form-group amount-div">
              <%= label_tag(:name, 'Add Balance', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= text_field_tag :increment, nil, class: 'form-control amount' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag('SAVE', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
