<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'New Bank Account', new_bank_account_path , class: 'btn btn-lg btn-primary' %>
       </div>
     </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Bank Accounts</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsiv">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Account Name</th>
                 <th>Account Number</th>
                 <th>Bank Balance</th>
                 <th class="text-center">Actions</th>
               </tr>
             </thead>
             <tbody>
               <% @bank_accounts.each do |bank_account| %>
                 <tr>
                   <td></td>
                   <td><%= bank_account.name %></td>
                   <td><%= bank_account.number %></td>
                   <td><%= currency_formatter(bank_account.balance) %></td>
                   <td>
                     <div class="dropdown text-center">
                       <a id="bank_account_<%= bank_account.id%>" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                       </a>
                      <ul class="dropdown-menu pull-right text-center" aria-labelledby="bank_account_<%= bank_account.id%>">
                        <li><%= link_to 'Add Balance', edit_bank_account_path(bank_account) %></li>
                        <li><%= link_to 'Reconciliation', "javascript:;" %></li>
                      </ul>
                    </div>
                   </td>
                 </tr>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
