<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <%= link_to 'New Role', new_role_path , class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Roles</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Name</th>
               </tr>
             </thead>
             <tbody>
               <% @roles.each do |role| %>
                 <tr>
                   <td></td>
                   <td><%= role.name %></td>
                 </tr>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
