<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'New Revenue', new_financial_year_revenue_path(@current_financial_year) , class: 'btn btn-lg btn-primary' %>
       </div>
     </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Revenue</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Amount</th>
                 <th>Revenue Code</th>
                 <% BankAccount.all.each do |bank_account| %>
                   <th>
                     <%= bank_account.name %> (%)
                   </th>
                 <% end %>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>
               <% @revenues.each do |revenue| %>
                 <tr>
                   <td>#</td>
                   <td>
                     <%= currency_formatter(revenue.amount) %>
                   </td>
                   <td><%= revenue.accounting_code.name %></td>
                   <% BankAccount.all.each do |bank_account| %>
                     <td>
                       <%= currency_formatter(revenue.money_divisions[bank_account.id.to_s]) %>
                     </td>
                   <% end %>
                   <td>Actions</td>
                 </tr>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
