<div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">Add A Revenue</h2>
        </header>
        <div class="panel-body">
          <%= form_for @revenue, url: {action: "create"}, html: {id: 'add-revenue-form', class: "form-horizontal"} do |f| %>
            <div id="add-revenue-amount-div" class="form-group amount-div">
              <%= label_tag(:amount, 'Amount', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :amount, id: 'revenue-amount', class: 'form-control amount' %>
                <%= f.hidden_field :financial_year_id, value: @current_financial_year.id %>
                <%= f.hidden_field :accounting_code_type, value: 'Code' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag(:code, 'Code', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <select id="revenue-types" name='revenue[accounting_code_id]' class="form-control">
                  <!--  Make Sure all these Code are revenues -->
                  <% @codes.all.each do |code| %>
                    <option data-bank-percentages="<%= code.percentage_divisions %>" data-bank-ids="<%= code.bank_ids %>" data-code="<%= code.number %>" data-name="<%= code.name %>" value="<%= code.id %>"><%= "#{code.name} #{code.number ? code.number : '' }" %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="revenue-types" class="col-xs-12">Money Divisions</label>

                <div class="col-xs-12">
                  <% BankAccount.order(:name).each do |bank_account| %>
                    <% bank_account_id = bank_account.id %>
                    <div id="bank-<%= bank_account_id %>" data-bank-id="<% bank_account_id %>">
                      <code><%= bank_account.name %></code><code id="bank-division-<%= bank_account_id %>" class="money-divisions" style="margin-left: 10px; color: blue;"></code><br  />
                    </div>
                  <% end %>
                </div>
                <div>
                  <% BankAccount.order(:name).each do |bank_account| %>
                    <% revenue_division = bank_account.name.gsub(" ","_") %>
                    <%= hidden_field_tag revenue_division.to_sym, nil, id: "revenue-#{bank_account.id}" %>
                  <% end %>
                </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag('SAVE', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
