<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'New Year', new_financial_year_path , class: 'btn btn-lg btn-primary' %>
       </div>
     </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Financial Years</h2>
       </header>
       <div class="panel-body">
         <div class="table-responsive">
           <table class="table table-bordered table-hover table-striped">
             <thead>
               <tr>
                 <th>#</th>
                 <th>Name</th>
                 <th>Start Date</th>
                 <th>End Date</th>
                 <th>Current</th>
               </tr>
             </thead>
             <tbody>
               <% @financial_years.each do |financial_year| %>
                 <tr>
                   <td></td>
                   <td><%= link_to financial_year.name, financial_year_path(financial_year) %></td>
                   <td><%= date_formatter(financial_year.start_date) %></td>
                   <td><%= date_formatter(financial_year.end_date) %></td>
                   <td>
                     <%= financial_year.is_current %>
                   </td>
                 </tr>
               <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
