<div class="col-xs-12 col-sm-offset-4 col-sm-4">
    <div class="panel">
        <header class="panel-heading">
            <h2 class="panel-title text-center">Add A Financial Year</h2>
        </header>
        <div class="panel-body">
          <%= form_for @financial_year, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
            <div class="form-group">
              <%= label_tag(:name, 'Name', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag(:start_date, 'Start Date', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :start_date, class: 'form-control date-ranges' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag(:end_date, 'End Date', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <%= f.text_field :end_date, class: 'form-control date-ranges' %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag(:is_current, 'Is Current Year', class: 'col-xs-12') %>
              <div class="col-xs-12">
                <label class="radio-inline">
                  <input type="radio" name="financial_year[is_current]" id="is_current_true" value="yes"> Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" name="financial_year[is_current]" id="is_current_false" value="no"> No
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= submit_tag('SAVE', class: "btn btn-primary") %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
