<div class="row">
   <div class="col-md-12">
     <div class="panel">
       <div class="panel-body">
         <%= link_to 'Add Budget', new_financial_year_budget_path(@financial_year) , class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
   </div>
   <div class="col-md-12">
     <div class="panel">
       <header class="panel-heading">
         <h2 class="panel-title">Details</h2>
       </header>
       <div class="panel-body">
       </div>
     </div>
   </div>
 </div>
