// Place all the styles related to the admin/budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline label {
    margin-left: 5px;
    margin-right: 5px;
}
