<% admin_asset_url = "https://ubuni.nyc3.digitaloceanspaces.com/cct/assets/admin/" %>
<header id="hoe-header" hoe-lpanel-effect="shrink">
    <div class="hoe-left-header">
        <a href="#"> C<span>CT</span></a>
        <span class="hoe-sidebar-toggle"><a href="javascript:;"></a></span>
    </div>

    <div class="hoe-right-header" hoe-position-type="relative">
        <span class="hoe-sidebar-toggle"><a href="javascript:;"></a></span>
        <ul class="left-navbar">
            <li>
                <div class="top-search hidden-xs">
                    <form>
                        <input type="text" class="form-control" placeholder="Search here">
                        <i class="ion-search"></i>
                    </form>
                </div>
            </li>

        </ul>
        <ul class="right-navbar navbar-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <i class="ion-ios-bell-outline"></i> <span class="label label-danger">4</span></a>
                <ul class="dropdown-menu dropdown-menu-scale lg-dropdown notifications">
                    <li> <p>You have 3 new notifications <a href="#"> Mark all Read</a></p></li>
                    <li class="unread-notifications">
                        <a href="#">
                            <i class="ion-ios-email-outline pull-right"></i>
                            <span class="line">You have 8 Messages</span>
                            <span class="small-line">3 Minutes ago</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ion-social-twitter-outline pull-right"></i>
                            <span class="line">You have 3 new followers</span>
                            <span class="small-line">8 Minutes ago</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ion-ios-download-outline pull-right"></i>
                            <span class="line">Download Complete</span>
                            <span class="small-line">6 Minutes ago</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="<%= admin_asset_url %>images/us.png" alt=""> English</a>
                <ul class="dropdown-menu dropdown-menu-scale lang-dropdown">
                    <li><a href="#"><img src="<%= admin_asset_url %>images/us.png" alt=""> English </a></li>
                    <li><a href="#"><img src="<%= admin_asset_url %>images/es.png" alt=""> Spanish </a></li>
                    <li><a href="#"><img src="<%= admin_asset_url %>images/tr.png" alt=""> Turkish </a></li>
                </ul>
            </li> -->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="<%= admin_asset_url %>images/avtar.png" alt="" width="30" class="img-circle"> <%= find_account(current_account.id) %></a>
                <ul class="dropdown-menu dropdown-menu-scale user-dropdown">
                    <li><a href="#"><i class="ion-email-unread"></i> Inbox <span class="label label-warning">3</span></a></li>
                    <li><a href="<%= edit_account_registration_path %>"><i class="ion-person"></i> Profile </a></li>
                    <li><a href="#"><i class="ion-settings"></i> Settings <span class="label label-primary">3/9</span></a></li>
                    <li><a href="#"><i class="ion-calendar"></i> Calendar </a></li>
                    <li><a href="#"><i class="ion-ios-compose"></i> Tasks </a></li>
                    <li><a href="<%= destroy_account_session_path %>" data-method='delete'><i class="ion-log-out"></i> Logout </a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
