<aside id="hoe-left-panel" hoe-position-type="absolute">
    <ul class="nav panel-list">
        <li class="active">
            <a href="<%= root_path %>">
                <i class="fa fa-home"></i>
                <span class="menu-text">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <!-- settings -->
        <li class="hoe-has-menu">
            <a href="javascript:void(0)">
                <i class="fa fa-cogs"></i>
                <span class="menu-text">Settings</span>
                <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="<%= roles_path %>">
                        <span class="menu-text">Roles</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="<%= financial_years_path %>">
                        <span class="menu-text">Financial Years</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="<%= bank_accounts_path %>">
                        <span class="menu-text">Bank Accounts</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="<%= code_categories_path %>">
                        <span class="menu-text">Accounting Codes</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Budget -->
        <% if @current_financial_year && BankAccount.count > 0 && CodeCategory.revenue && CodeCategory.expenses %>
          <li class="hoe-has-menu">
              <a href="javascript:void(0)">
                  <i class="fa fa-file-text-o"></i>
                  <span class="menu-text">Budget</span>
                  <span class="selected"></span>
              </a>
              <ul class="hoe-sub-menu">
                  <% if @current_financial_year.budget %>
                    <li class="hoe-has-menu">
                        <a href="javascript:void(0)">
                            <span class="menu-text">Revenue</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="hoe-sub-menu">
                            <li>
                                <a href="<%= financial_year_budget_path(@current_financial_year, @current_financial_year.budget, item_type: 'revenue',state: 'estimated') %>">
                                    <span class="menu-text">Estimated</span>
                                    <span class="selected"></span>
                                </a>
                                <!-- <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 4</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul> -->
                            </li>
                            <li>
                                <a href="<%= financial_year_budget_path(@current_financial_year, @current_financial_year.budget, item_type: 'revenue',state: 'actual') %>">
                                    <span class="menu-text">Actual</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hoe-has-menu">
                        <a href="javascript:void(0)">
                            <span class="menu-text">Expenditure</span>
                            <span class="selected"></span>
                        </a>
                        <ul class="hoe-sub-menu">
                            <li>
                                <a href="<%= financial_year_budget_path(@current_financial_year, @current_financial_year.budget, item_type: 'expenditure', state: 'estimated') %>">
                                    <span class="menu-text">Estimated</span>
                                    <span class="selected"></span>
                                </a>
                                <!-- <ul class="hoe-sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span class="menu-text">level 4</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                </ul> -->
                            </li>
                            <li>
                                <a href="<%= financial_year_budget_path(@current_financial_year, @current_financial_year.budget, item_type: 'expenditure',state: 'actual') %>">
                                    <span class="menu-text">Actual</span>
                                    <span class="selected"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                  <% else %>
                    <li>
                      <a href="<%= new_financial_year_budget_path(@current_financial_year) %>">
                          <span class="menu-text">Add Budget</span>
                          <span class="selected"></span>
                      </a>
                    </li>
                  <% end %>
                  <li>
                      <a href="javascript:void(0)">
                          <span class="menu-text">Past Budgets</span>
                          <span class="selected"></span>
                      </a>
                  </li>
                  <li>
                      <a href="javascript:void(0)">
                          <span class="menu-text">Budget Comparisons</span>
                          <span class="selected"></span>
                      </a>
                  </li>
              </ul>
          </li>
          <li class="hoe-has-menu">
              <a href="javascript:void(0)">
                  <i class="fa fa-credit-card"></i>
                  <span class="menu-text">Revenue</span>
                  <span class="selected"></span>
              </a>
              <ul class="hoe-sub-menu">
                <li>
                  <a href="<%= new_financial_year_revenue_path(@current_financial_year) %>">
                      <span class="menu-text">Add Revenue</span>
                      <span class="selected"></span>
                  </a>
                </li>
                <li>
                  <a href="<%= financial_year_revenues_path(@current_financial_year) %>">
                      <span class="menu-text">All Revenues</span>
                      <span class="selected"></span>
                  </a>
                </li>
              </ul>
          </li>
          <li class="hoe-has-menu">
              <a href="javascript:void(0)">
                  <i class="fa fa-credit-card"></i>
                  <span class="menu-text">Payments</span>
                  <span class="selected"></span>
              </a>
              <ul class="hoe-sub-menu">
                <li>
                  <a href="<%= financial_year_payment_vouchers_path(@current_financial_year) %>">
                      <span class="menu-text">Payment Vouchers</span>
                      <span class="selected"></span>
                  </a>
                </li>
                <li>
                  <a href="<%= financial_year_petty_cash_index_path(@current_financial_year) %>">
                      <span class="menu-text">Petty Cash Vouchers</span>
                      <span class="selected"></span>
                  </a>
                </li>
              </ul>
          </li>
          <li class="hoe-has-menu">
              <a href="javascript:void(0)">
                  <i class="fa fa-building-o"></i>
                  <span class="menu-text">Bank Accounts</span>
                  <span class="selected"></span>
              </a>
              <ul class="hoe-sub-menu">
                <li>
                  <a href="<%= bank_accounts_path %>">
                      <span class="menu-text">Current Balances</span>
                      <span class="selected"></span>
                  </a>
                </li>
              </ul>
            </li>
        <% end %>
        <!-- <li class="hoe-has-menu">
            <a href="javascript:void(0)">
                <i class="fa fa-envelope"></i>
                <span class="menu-text">Email</span>
                <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="email-inbox.html">
                        <span class="menu-text">Inbox</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="email-compose.html">
                        <span class="menu-text">Compose</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="email-view.html">
                        <span class="menu-text">Email View</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="calendar.html">
                <i class="fa fa-calendar"></i>
                <span class="menu-text">Calendar</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="user-profile.html">
                <i class="fa fa-user"></i>
                <span class="menu-text">User Profile</span>
                <span class="selected"></span>
            </a>
        </li> -->

    </ul>
</aside><!--aside left menu end-->
