<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <title>CCT UDSM</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- fontawesome -->
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: "all" %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' %>

    <% admin_asset_url = "https://ubuni.nyc3.digitaloceanspaces.com/cct/assets/admin/" %>
    <!--side menu plugin-->
    <link href="<%= admin_asset_url %>plugins/hoe-nav/hoe.css" rel="stylesheet">
    <!-- icons-->
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>

    <link href="<%= admin_asset_url %>plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="<%= admin_asset_url %>plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <!--template custom css file-->
    <link href="<%= admin_asset_url %>css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" integrity="sha256-I4gvabvvRivuPAYFqevVhZl88+vNf2NksupoBxMQi04=" crossorigin="anonymous" />
    <script src="<%= admin_asset_url %>js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout">

    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
      <%= render 'layouts/header_navigation' %>

      <div id="hoeapp-container" hoe-color-type="lpanel-bg7" hoe-lpanel-effect="shrink">
        <%= render 'layouts/left_navigation' %>

        <!--start main content-->
        <section id="main-content">
          <div class="space-30"></div>
          <div class="container"  style="min-height: 500px;">
            <%= yield %>
          </div>
          <%= render 'layouts/footer' %>
        </section><!--end main content-->
      </div>
    </div><!--end wrapper-->
    <%# excluding jquery from the asset pipeline so that libraries that need it can access it %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="<%= admin_asset_url %>js/decimal.min.js"></script>
    <%# date-picker %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" integrity="sha256-TueWqYu0G+lYIimeIcMI8x1m14QH/DQVt4s9m/uuhPw=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
        <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastNotification('<%= type %>','<%= f[1] %>');
        <% end %>
    </script>
    <script src="<%= admin_asset_url %>plugins/hoe-nav/hoe.js"></script>
    <script src="<%= admin_asset_url %>plugins/pace/pace.min.js"></script>
    <script src="<%= admin_asset_url %>plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="<%= admin_asset_url %>js/app.js"></script>

    <!--page scripts-->
    <% if controller_name == 'dashboard' %>
      <!-- Flot chart js -->
      <script src="<%= admin_asset_url %>plugins/flot/jquery.flot.js"></script>
      <script src="<%= admin_asset_url %>plugins/flot/jquery.flot.tooltip.min.js"></script>
      <script src="<%= admin_asset_url %>plugins/flot/jquery.flot.resize.js"></script>
      <script src="<%= admin_asset_url %>plugins/flot/jquery.flot.pie.js"></script>
      <script src="<%= admin_asset_url %>plugins/flot/jquery.flot.time.js"></script>
      <!--vector map-->
      <script src="<%= admin_asset_url %>plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
      <script src="<%= admin_asset_url %>plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
      <!-- ChartJS-->
      <script src="<%= admin_asset_url %>plugins/chartJs/Chart.min.js"></script>
      <!--dashboard custom script-->
      <script src="<%= admin_asset_url %>js/dashboard.js"></script>
    <% end %>
  </body>
</html>
