<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <title>CCT UDSM</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- fontawesome -->
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: "all" %>


    <% admin_asset_url = "https://ubuni.nyc3.digitaloceanspaces.com/cct/assets/admin/" %>
    <!--side menu plugin-->
    <link href="<%= admin_asset_url %>plugins/hoe-nav/hoe.css" rel="stylesheet">
    <!-- icons-->
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>

    <%= stylesheet_link_tag "#{admin_asset_url}plugins/iCheck/custom.css" %>


    <!--template custom css file-->
    <link href="<%= admin_asset_url %>css/style.css" rel="stylesheet">

    <script src="<%= admin_asset_url %>js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <%= yield %>

    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Common plugins-->
    <script src="<%= admin_asset_url %>plugins/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="<%= admin_asset_url %>plugins/hoe-nav/hoe.js"></script>
    <script src="<%= admin_asset_url %>plugins/pace/pace.min.js"></script>
    <script src="<%= admin_asset_url %>plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="<%= admin_asset_url %>plugins/iCheck/icheck.min.js"></script>
    <script src="<%= admin_asset_url %>js/app.js"></script>

    <script>
      $(document).ready(function(){
          $('.i-checks').iCheck({
              checkboxClass: 'icheckbox_flat-blue',
              radioClass: 'icheckbox_flat-blue'
          });
      });
    </script>
  </body>
</html>
